@use "../custom" as *;

.introSection{
    text-align: center;
    width: 100%;
    background-color: black;
    margin: 0px 0px 0px 0px;
    align-items: center;
}


.background{
    position: relative;
    height: 400px;
    width: 100%;
    background: url("../../images/nachos.jpg");
    background-size: 100%;    
   
    // z-index: 0;
    margin: 0;
    padding: 0px;
   h2{
    color: $white;
    margin: 0px;
    text-align: center;
    font-size: 40px;
    // padding: 150px;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);

   }
    

}
.display-2{

   color: white;
 
 
 
 }
 .row{
     h1{
         color: whitesmoke;
     }
 }